.block05 {
  padding: 50px 0;
}
.block05-title {
  margin: 80px auto;
  text-align: center;
  font-size: 36px;
}
.block05-scoupe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
  font-size: 26px;
}
.document-card {
  flex-basis: 17vw;
  min-width: 200px;
  margin: 0 10px;
  padding: 40px 0;
  text-align: center;
}
.document-card__icon-mobile {
  display: none;
}
