.block01 {
  margin: -150px 0px 0px 0px;
}
.block01-scoup {
  display: flex;
}
.orange-angle {
  margin: 0px 0px 0px -177px;
}
.orange-angle-img {
  width: 735px;
}
.wite-mersedes {
  margin: -833px 0px 0px 0px;
}
.block01-right-side {
  display: flex;
  flex-direction: column-reverse;
}
.dimmed-car {
  margin: -195px 0px 0px 90px;
}
.scroll-down-states-full {
  /* display: flex;          не работало в браузере Vivaldi
  justify-content: end;      и через текстовые настроки не работало */   
  direction: rtl;            /* а так работает во всех */
  margin: -32px 0px 0px 0px;
}
