.block07 {
  padding: 50px 0;
}
.block07__text-scoupe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
}
.block07__text-block {
  min-width: 310px;
  flex-basis: 19vw;
  padding: 12px;
}
.block07__text-block-title {
  font-size: 48px;
  color: rgba(255, 43, 43, 1);
}
.block07__oooo {
  padding: 80px 0;
  text-align: center;
}