.block03 {
  padding: 50px 0;
}
.block03-title {
  margin: 80px auto;
  text-align: center;
  font-size: 36px;
}
.view-more-cars {
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
}
.control-string {
  display: flex;
  justify-content: space-between;
}
.control-string__auto-category_select {
  position: relative;
  width: 320px;
  height: 50px;
  padding: 0 0 0 32px;
  font-size: 20px;
  color: white;
  border-radius: 50px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  appearance: none;
  background-color: rgba(240, 127, 14, 1);
  cursor: pointer;
}
select::-ms-expand {display: none;} /* ie only */
.auto-category-icon {
  position: absolute;
  display: block;
  min-width: 30px;
  margin: -42px 265px;
  content: "";
  pointer-events: none;
}

.control-string__search {
  margin: 0 50px 0 -10px;
}
.control-string__search input {
  box-sizing: border-box;
  width: 100%;
  min-width: 500px;
  padding: 9px 20px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border: 3px solid #F07F0E;
  border-radius: 40px;
}

.control-string__prefered i img {
  width: 100%;
  min-width: 42px;
}

.control-string__view-mode-toggle_list {
  display: inherit;
}
.control-string__view-mode-toggle_table {
  display: none;
}

.control-outofstring__search,
.db-autoitems-value,
.db-autoitems-value_subscription {
  display: none;
}

.trade-card__scoupe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px 0;
  margin: 0 -4%;
  border-radius: 8px;
}
