.block09 {
  padding: 50px 0;
  line-height: 36px;
}
.block09-title {
  margin: 80px auto;
  text-align: center;
  font-size: 36px;
}
.block09-scoupe__foreground {
  margin: -936px 0 0 0;
}
.block09-fg__user-comment {
  display: flex;
  align-items: flex-end;
  padding: 20px 0;
}
.block09-fg__user-comment__figure-left {
  max-width: 60px;
  margin: 0px -38px -64px 0px;
  padding: 50px;
  transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  background: linear-gradient(125deg, rgba(255, 210, 144, 1) 40% 40%, transparent 40%);
}
.block09-fg__user-comment__figure-right {
  max-width: 60px;
  margin: 0px -22px 0px -30px;
  padding: 50px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  background: linear-gradient(125deg, rgba(255, 210, 144, 1) 40% 40%, transparent 40%);
}
.block09-fg__user-comment__avatar {
  margin: 0px 0px -12px 0px;
}
.block09-fg__user-comment__text {
  max-width: 900px;
  height: auto;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(255, 210, 144, 1);
}
.name-date {
  display: flex;
  justify-content: space-between;
  padding: 0 0 20px 0;
  font-size: 24px;
}
.block09-foreground__more-replies {
  padding: 50px 0;
  text-align: center;
}
.block09-scoupe__background-mobile {
  display: none;
}
