.block03 {
  padding: 100px 0;
}
.block03-title {
  margin: 120px auto;
  text-align: center;
  font-size: 36px;
}
.view-more-cars {
  margin: 120px auto;
  text-align: center;
  font-size: 26px;
}
.control-string {
  display: flex;
  justify-content: space-between;
}
.trade-card__scoupe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 60px 0;
  margin: 0 -4%;
  border: 4px solid blue;
  border-radius: 8px;
}