html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  word-wrap: break-word;
  color: black;
  overflow-x: clip;
}
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(240, 127, 14, 1) white;
}

html::-webkit-scrollbar {
  width: 0px;
}
html::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 0px;
}
body::-webkit-scrollbar-track {
  width: 0px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

