footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: black;
}

/* .phone {
  display: flex;
  align-items: center;
} */

.phone .phone-icon a i img {
  margin: -5px 2px;
}
