footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: black;
}

.footer-logo,
.footer-logo a i img {
  width: 280px;
  height: 85px;
}



.phone .phone-icon a i img {
  margin: -5px 2px;
}
