footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: black;
}
.footer-logo,
.footer-logo a i img {
  width: 280px;
  height: 85px;
}
.footer__center-block {
  margin-left: -100px;
  text-align: center;
}
.footer__contact-icons {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 4% auto;
}
.phone .phone-icon a i img {
  margin: -5px 2px;
}
