.order-form__scope {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 390px;
  height: 420px;
}
.order-form__shell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.order-form__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #F07F0E;
}
.order-form__shell input[type=text],
.order-form__shell input[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 4px 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 3px solid #F07F0E;
}
.order-form__shell input[type=submit] {
  box-sizing: border-box;
  width: 100%;
  height: 76px;
  padding: 20px 0;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  border-radius: 40px;
  background-color: #F07F0E;
  color: white;
}
