/* @media only screen and (max-width: 1440px) {} */
/* @media only screen and (max-width: 1280px) {} */

/* @media only screen and (max-width: 1024px) {} */

/* Medium Devices, Desktops */
/* @media only screen and (max-width: 992px) {} */

/* Small Devices, Tablets */
/* @media only screen and (max-width: 768px) {} */

/* Extra Small Devices, Phones */
/* @media only screen and (max-width: 480px) {} */

/* @media only screen and (max-width: 375px) { */
@media only screen and (max-width: 480px) {
    html, body {
    overflow-x: auto;
  }
  .wrapper {
    margin: 0 auto;
  }
  .site-content {
    width: 343px;
  }
  header {
    height: 66px;
  }
  .header-logo {
    display: none;
  }
  .header-logo-mobile {
    display: block;
    padding-top: 14px;
  }
  .navig-m {
    display: none;
  }
  .phone-icon {
    margin-right: 6px;
  }
  .phone-icon a i img {
    width: 20px;
    margin-right: 6px;
    padding-bottom: 2px;
  }
  .phone-Nr {
    font-size: 14px;
  }
  .burger {
    display: flex;
    width: 66px;
    height: 100%;
    margin-right: -16px;
    margin: 0px -16px 0px -32px;
    overflow-x: hidden;
  }
  .finger-sensitive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .sticks-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  .burger-horizontal-stick {
    width: 35px;
    height: 4px;
    border: 2px solid #F07F0E;
  }

  .main-title {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
  .block01 {
    margin: -20px 0px 0px 0px;
  }
  .block01-scoup {
    display: flex;
    flex-direction: column-reverse;
  }
  .order-form__scope {
    height: 240px;
    margin: 0px 0px 0px 0px;
  }
  .order-form__title {
    font-size: 18px;
  }
  .order-form__shell {
    width: 265px;
    height: 164px;
    margin: 0 auto;
  }
  .order-form-input-name,
  .order-form-input-phone {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 14px 0px 14px 21px;
    border: 2px solid #F07F0E;
    border-radius: 40px;
    font-size: 14px;
    background: transparent;
  }
  .order-form__button-container {
    margin: 0 auto;
    padding-top: 14px;
  }
  .order-form-input-submit-btn {
    width: 209px;
    height: 46px;
    padding: 10px 0;
    font-size: 14px;
  }

  .orange-angle {
    margin: -64px 0px 0px -20px;
  }
  .orange-angle-img {
    width: 412px;
  }
  .wite-mersedes {
    margin: -488px 0px 0px -16px;
  }
  .wite-mersedes img {
    width: 374px;
  }

  .dimmed-car,
  .scroll-down-states-full {
    display: none;
  }

  /* block02 */
  
  .block02 {
    padding: 100px 0;
  }
  .block02-title {
    margin: 120px auto 20px;
    text-align: center;
    font-size: 18px;
  }
  .block02-text,
  .block02-imaged-link-title,
  .block02-imaged-link-text {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .block02-imaged-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px 0;
  }
  /* .block02-imaged-links {} */
  .block02-imaged-doubled-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 45vw;
  }
  .block02-imaged-link {
    box-sizing: border-box;
    flex-basis: 50vw;
    padding: 2%;
  }
  
  .block02-imaged-link-img,
  .block02-imaged-link-text {
    padding: 20px 0;
    text-align: center;
  }
  .block02-imaged-link-img img {
    width: 74px;
    height: 74px;
  }

  /* block03 */

  .block03 {
    padding: 0;
  }
  .block03-title {
    margin: 0 auto 80px;
    text-align: center;
    font-size: 18px;
  }
  .view-more-cars {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
  }
  /* .control-string {
    display: flex;
    justify-content: space-between;
  } */
  .control-string__auto-category_select {
    position: relative;
    width: 148px;
    height: 24px;
    padding: 0 0 0 12px;
    font-size: 12px;
    font-weight: 600;
  }
  select::-ms-expand {display: none;} /* ie only */
  .auto-category-icon {
    position: absolute;
    display: block;
    min-width: 30px;
    margin: -42px 65px;
    content: "";
    pointer-events: none;
    border: 10px solid red;
    background: blue;
  }
  
  .control-string__prefered i img,
  .control-string__view-mode-toggle i img,
  .control-string__settings i img {
    min-width: unset;
    width: 24px;
    padding-top: 10px;
  }

  .control-string__search {
    display: none;
  }
  .control-outofstring__search {
    display: block;
    width: 265px;
    margin: 24px auto;
  }
  
  .control-outofstring__search input {
    box-sizing: border-box;
    width: 265px;
    height: 40px;
    margin: 0 auto;
    padding: 9px 20px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: 2px solid #F07F0E;
    border-radius: 40px;
  }
  
  .control-string__view-mode-toggle {
    margin: 0px -72px;
  }
  .control-string__view-mode-toggle_list {
    display: inherit;
  }
  .control-string__view-mode-toggle_table {
    display: none;
  }

  .db-autoitems-count__mobile-view {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #F07F0E;
  }
  .db-autoitems-value,
  .db-autoitems-value_subscription {
    display: inline-block;
  }
  
  .trade-card__scoupe {
    display: none;
  }
  
  .trade-card__scoupe__mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 160px 0;
    margin: 0 -4%;
    border-radius: 8px;
  }
}

/* Custom, iPhone Retina */
/* @media only screen and (max-width: 320px) {} */
