/* @media only screen and (max-width: 1440px) {} */
/* @media only screen and (max-width: 1280px) {} */

/* @media only screen and (max-width: 1024px) {} */

/* Medium Devices, Desktops */
/* @media only screen and (max-width: 992px) {} */

/* Small Devices, Tablets */
/* @media only screen and (max-width: 768px) {} */

/* Extra Small Devices, Phones */
/* @media only screen and (max-width: 480px) {} */

/* @media only screen and (max-width: 375px) { */
@media only screen and (max-width: 480px) {
    html, body {
    overflow-x: auto;
  }
  .wrapper {
    margin: 0 auto;
  }
  .site-content {
    width: 343px;
  }
  header {
    height: 66px;
  }
  .header-logo {
    display: none;
  }
  .header-logo-mobile {
    display: block;
    padding-top: 14px;
  }
  .navig-m {
    display: none;
  }
  .phone-icon {
    margin-right: 6px;
  }
  .phone-icon a i img {
    width: 20px;
    margin-right: 6px;
    padding-bottom: 2px;
  }
  .phone-Nr {
    font-size: 14px;
  }
  .burger {
    display: flex;
    width: 66px;
    height: 100%;
    margin-right: -16px;
    margin: 0px -16px 0px -32px;
    overflow-x: hidden;
  }
  .finger-sensitive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .sticks-set {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
  }
  .burger-horizontal-stick {
    width: 35px;
    height: 4px;
    border: 2px solid #F07F0E;
  }

  .main-title {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
  .block01 {
    margin: -20px 0px 0px 0px;
  }
  .block01-scoup {
    display: flex;
    flex-direction: column-reverse;
  }
  .order-form__scope {
    height: 240px;
    margin: 0px 0px 0px 0px;
  }
  .order-form__title {
    font-size: 18px;
  }
  .order-form__shell {
    width: 265px;
    height: 164px;
    margin: 0 auto;
  }
  .order-form-input-name,
  .order-form-input-phone {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    padding: 14px 0px 14px 21px;
    border: 2px solid #F07F0E;
    border-radius: 40px;
    font-size: 14px;
    background: transparent;
  }
  .order-form__button-container {
    margin: 0 auto;
    padding-top: 14px;
  }
  .order-form-input-submit-btn {
    width: 209px;
    height: 46px;
    padding: 10px 0;
    font-size: 14px;
  }

  .orange-angle {
    margin: -64px 0px 0px -20px;
  }
  .orange-angle-img {
    width: 412px;
  }
  .wite-mersedes {
    margin: -488px 0px 0px -16px;
  }
  .wite-mersedes img {
    width: 374px;
  }

  .dimmed-car,
  .scroll-down-states-full {
    display: none;
  }


  .block02 {
    padding: 100px 0;
  }
  .block02-title {
    margin: 120px auto 20px;
    text-align: center;
    font-size: 18px;
  }
  .block02-text,
  .block02-imaged-link-title,
  .block02-imaged-link-text {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
  .block02-imaged-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 60px 0;
  }
  /* .block02-imaged-links {} */
  .block02-imaged-doubled-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 45vw;
  }
  .block02-imaged-link {
    box-sizing: border-box;
    flex-basis: 50vw;
    padding: 2%;
  }
  
  .block02-imaged-link-img,
  .block02-imaged-link-text {
    padding: 20px 0;
    text-align: center;
  }
  .block02-imaged-link-img img {
    width: 74px;
    height: 74px;
  }
  
}

/* Custom, iPhone Retina */
/* @media only screen and (max-width: 320px) {} */
