/* @media only screen and (max-width: 1440px) {} */
/* @media only screen and (max-width: 1280px) {} */

/* @media only screen and (max-width: 1024px) {} */

/* Medium Devices, Desktops */
/* @media only screen and (max-width: 992px) {} */

/* Small Devices, Tablets */
/* @media only screen and (max-width: 768px) {} */

/* Extra Small Devices, Phones */
/* @media only screen and (max-width: 480px) {} */

@media only screen and (max-width: 375px) {
  html, body {
    overflow-x: auto;
  }
  .site-content {
    width: 343px;
  }
  .main-title {
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
  }
  .block01-scoup {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .order-form__scope {
    margin: 140px 0px 0px 0px;
  }
  .order-form__title {
    font-size: 18px;
  }
      
  .dimmed-car,
  .scroll-down-states-full {
    display: none;
  }
}

/* Custom, iPhone Retina */
/* @media only screen and (max-width: 320px) {} */
