.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 1240px;
  min-height: 100%;
  padding: 0;
  margin: 30px auto;
}

menu {
  display: flex;
  justify-content: space-around;
  flex: 1;
  max-width: 662px;
}
menu a,
.phone-Nr a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex: 1 1 auto;
}
.main-title {
  margin: 120px auto;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
}
