.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  margin: 30px auto;
}
.site-content {
  box-sizing: border-box;
  width: 1240px;
  padding: 0;
  margin: 0 auto;
}
main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.main-title {
  margin: 120px auto 0;
  text-align: center;
  font-weight: 700;
  font-size: 96px;
}
.font-orange {
  color: rgba(240, 127, 14, 1);
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.rovv-revers {
  flex-direction: row-reverse;
}